@use "styles/mixins";

@layer module {
  .frame {
    position: relative;
    display: inline-block;
    padding: 0 4px;
  }

  .container {
    display: flex;
    align-items: stretch;

    .decor {
      position: relative;
      display: inline-block;
      width: 8px;
    }

    .fill {
      position: relative;
      display: inline-block;
      flex: 1;
    }

    @include mixins.narrow {
      flex-direction: column;
      gap: var(--m);
    }
  }

  svg.sprite {
    position: absolute;
    overflow: visible;
    pointer-events: none;

    path {
      vector-effect: non-scaling-stroke;
      stroke: currentColor;
      fill: currentColor;
    }

    &.begin {
      top: 0;
      left: 0;
      width: 8px;
      height: 100%;
    }

    &.end {
      top: 0;
      right: 0;
      width: 8px;
      height: 100%;
    }

    &.tl {
      left: 6px;
      top: 0;
      height: 2px;
      width: calc(100% - 8px);
    }

    &.bl {
      right: 6px;
      bottom: 0;
      height: 2px;
      width: calc(100% - 8px);
    }

    &.rs {
      top: 0;
      right: 0;
      width: 8px;
      height: 100%;
    }

    &.ls {
      top: 0;
      left: 0;
      width: 8px;
      height: 100%;
    }
  }
}
