@use "styles/vars.json";
@use "styles/mixins";

@layer module {
  .frame {
    position: relative;
    display: inline-block;

    @include mixins.desktop {
      padding: 2px calc(var(--m) * 0.5);
      height: calc(#{vars.$control-height-desktop} + 4px);
      max-height: calc(#{vars.$control-height-desktop} + 4px);
    }

    svg.sprite {
      &.tl, &.ls {
        color: var(--c-ctrl-alpha);
      }

      &.bl, &.rs {
        color: oklch(from var(--c-ctrl-alpha) calc(l - 0.1) c h);
      }
    }

    .back {
      background: var(--c-ctrl-beta);

      @include mixins.desktop {
        padding: 2px 0;
        margin-top: -2px;
        height: calc(100% + 4px);
        max-height: calc(100% + 4px);;
      }
    }

    .shadow {
      display: none;
      position: absolute;
      inset: -1px;
      z-index: -1;
      filter: grayscale(100%) brightness(90%) blur(1px);
      transform-origin: center;
    }

    @include mixins.supports-mouse {
      &:has(.back:hover) .shadow {
        display: block;
      }
    }

    &.focusable {
      &:has(:focus, .focus, :active, .active) {
        filter: brightness(105%);

        &:has(.back:hover) {
          filter: brightness(110%);
        }

        .shadow {
          display: block;
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: stretch;

    .decor {
      position: relative;
      display: inline-block;
      width: var(--m);
      color: var(--c-ctrl-omega);

      @include mixins.narrow {
        display: none;
      }
    }

    .fill {
      flex: 1;
      position: relative;
      display: inline-block;
      color: var(--c-ctrl-omega);

      @include mixins.desktop {
        padding: 0 calc(var(--m) * 0.5);
        height: calc(#{vars.$control-height-desktop} + 4px);
      }

      @include mixins.narrow {
        display: none;
      }

      div {
        height: 100%;
        background: var(--c-ctrl-omega);
      }
    }

    @include mixins.desktop {
      height: calc(#{vars.$control-height-desktop} + 4px);
      max-height: calc(#{vars.$control-height-desktop} + 4px);
    }

    @include mixins.narrow {
      flex-direction: column;
      gap: var(--m);
    }
  }

  svg.sprite {
    position: absolute;
    overflow: visible;
    pointer-events: none;

    @include mixins.narrow {
      display: none;
    }

    path {
      vector-effect: non-scaling-stroke;
      stroke: currentColor;
      fill: currentColor;
    }

    &.begin {
      top: 1px;
      left: 0;
      width: var(--m);
      height: calc(100% - 2px);
    }

    &.end {
      top: 1px;
      right: 0;
      width: var(--m);
      height: calc(100% - 2px);
    }

    &.tl {
      left: 6px;
      top: 1px;
      height: 2px;
      width: calc(100% - var(--m));
    }

    &.bl {
      right: 6px;
      bottom: 1px;
      height: 2px;
      width: calc(100% - var(--m));
    }

    &.rs {
      top: 1px;
      right: 0;
      width: var(--m);
      height: calc(100% - 2px);
    }

    &.ls {
      top: 1px;
      left: 0;
      width: var(--m);
      height: calc(100% - 2px);
    }
  }
}
