@use "styles/vars.json";
@use "styles/mixins";
@use "styles/fonts";

.control {
  white-space: nowrap;
  background: transparent;
  padding: 0 var(--s);

  @include mixins.wide {
    padding: 0 var(--m);
    height: vars.$control-height-desktop;
    max-height: vars.$control-height-desktop;
  }

  @include mixins.narrow {
    height: vars.$control-height-phone;
    max-height: vars.$control-height-phone;
  }

  > div {
    display: inline-block;
  }

  .text {
    @include fonts.font-controls;
    font-size: var(--fs-control);
    line-height: vars.$control-height-desktop;
    color: var(--c-ctrl-text);
    user-select: none;
  }

  @include mixins.wide {
    &.icon-l {
      padding-left: calc(var(--m) + var(--s) + #{vars.$control-icon-desktop});
    }

    &.icon-r, &.icon-rm {
      padding-right: calc(var(--m) + var(--s) + #{vars.$control-icon-desktop});
    }
  }

  .icon {
    position: absolute;
    display: inline-flex;
    align-items: center;
    color: var(--c-ctrl-text);
    margin-left: calc(var(--s)*-1 - #{vars.$control-icon-desktop});

    @include mixins.wide {
      height: vars.$control-height-desktop;
      line-height: vars.$control-icon-desktop;
      font-size: vars.$control-icon-desktop;
    }

    @include mixins.narrow {
      height: vars.$control-height-phone;
      line-height: vars.$control-icon-phone;
      font-size: vars.$control-icon-phone;
      top: 0;
    }

    @include mixins.narrow {
      & {
        margin-left: calc(var(--s)*-1 - #{vars.$control-icon-phone});
      }
    }

    &.r, &.rm {
      margin-left: var(--s);

      @include mixins.narrow {
        & {
          margin-left: var(--s);
        }
      }
    }

    &.rm {
      transform: scale(-1, 1); // swap
    }

    svg {
      position: relative;

      @include mixins.narrow {
        top: 0.5px;
      }
    }
  }
}

.clickable {
  @include mixins.supports-mouse {
    &:disabled {
      cursor: default;
    }

    &:not(:disabled) {
      cursor: pointer;
    }
  }
}
