@use "styles/mixins";

@layer global {
  .pagemenu {
    padding: var(--s) 0 var(--l);

    @include mixins.narrow {
      padding-top: var(--m);
    }
  }

  .item {
    border: none;
    outline: none;

    @include mixins.narrow {
      width: 100%;
      max-width: 100%;
      text-align: center;
    }
  }
}
