<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @layer reset, global, module;
    </style>
    <link type="image/png" sizes="16x16" rel="icon" href="favicon-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="favicon-32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="favicon-96.png">
    <script defer="defer" src="/lang/<%= htmlWebpackPlugin.options.defaultLang %>.js"></script>
  </head>
  <body>
    <main
      lang="<%= htmlWebpackPlugin.options.defaultLang %>"
      class="<%= htmlWebpackPlugin.options.webNodeName %>"
    ></main>
  </body>
</html>
