@use "styles/mixins";

@layer global {
  @include mixins.narrow {
    .pagelayout {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      padding: 0 var(--m);
    }

    .menu {
      container-type: inline-size;
    }

    .content {
      flex: 1;
      container-type: inline-size;
    }
  }

  @include mixins.wide {
    .pagelayout {
      flex: 1;
      display: grid;
      width: 100%;

      $min-width: calc(var(--x) * 25);
      grid-template-columns: 1fr minmax($min-width, 3fr) 1fr;

      &.content {
        grid-template-rows: 1fr;
        grid-template-areas: ". c .";
      }

      &.menu-content {
        grid-template-rows: max-content 1fr;
        grid-template-areas: ". m ." ". c .";
      }

      .menu {
        grid-area: m;
        container-type: inline-size;
      }

      .content {
        grid-area: c;
        container-type: inline-size;
      }
    }
  }
}
