@layer global {
  .pagelayout {
    display: grid;
    min-height: 100vh;
    width: 100%;

    grid-template-columns: 1fr minmax(800px, 3fr) 1fr;

    &.content {
      grid-template-rows: 1fr;
      grid-template-areas: ". c .";
    }

    &.menu-content {
      grid-template-rows: max-content 1fr;
      grid-template-areas: ". m ." ". c .";
    }

    .menu {
      grid-area: m;
    }

    .content {
      grid-area: c;
    }
  }
}
