//
// Mixins defining the imported web fonts.
//

@mixin font-open-sans-300rc {
  font-family: "Open Sans Condensed";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
}

@mixin font-open-sans-400r {
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
