@use "styles/vars.json";

@mixin define {
  --fs-header-1: 2em;
  --fs-header-2: 1.5em;
  --fs-header-3: 1.17em;
  --fs-header-4: 1em;
  --fs-header-5: 0.83em;
  --fs-header-6: 0.67em;
  --fs-control: calc(#{vars.$control-height-desktop} * 0.666666);

  @media (width <= #{vars.$screen-phone}) {
    --fs-control: calc(#{vars.$control-height-phone} * 0.5);
  }
}
