//
// Global definitions for the application.
//

@use "../config.json";
@use "styles/fonts";
@use "styles/theme/root";
@use "styles/mixins";

@layer global {
  :root {
    min-height: 100%;

    body {
      inset: 0;
      position: absolute;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .#{config.$webNodeName} {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    @include fonts.font-body;
    color: var(--c-text);
    @include root.define-variables;
  }
}
