//
// Global definitions for the application.
//

@use "fonts";
@use "theme/root";
@use "../config.json";

@layer global {
  :root {
    min-height: 100vh;

    body {
      min-height: 100vh;
    }
  }

  .#{config.$webNodeName} {
    @include root.define-variables;
    @include fonts.font-body;
    font-size: 1rem;
  }
}
