//
// Global definitions for the application.
//

@use "../config.json";
@use "styles/fonts";
@use "styles/theme/root";
@use "styles/mixins";

@layer global {
  :root {
    @include mixins.desktop {
      min-height: 100vh;
    }

    body {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @include mixins.desktop {
        min-height: 100vh;
      }
    }
  }

  .#{config.$webNodeName} {
    @include root.define-variables;
    @include fonts.font-body;
    color: var(--color-text);

    @include mixins.desktop {
      min-height: 100vh;
    }
  }
}
