@import "../fonts/open-sans/open-sans-300rc-greek.css";
@import "../fonts/open-sans/open-sans-300rc-latin.css";
@import "../fonts/open-sans/open-sans-300rc-sym.css";

@mixin font-open-sans-300rc {
  font-family: "Open Sans Condensed";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
}

@import "../fonts/open-sans/open-sans-400r-greek.css";
@import "../fonts/open-sans/open-sans-400r-latin.css";
@import "../fonts/open-sans/open-sans-400r-sym.css";

@mixin font-open-sans-400r {
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
