//
// Global variables plus privately used by the application.
// We place them in separated file not to rebuild Bootstrap
// (and other SCSS libraries) on each update.
//
@import "globals";

// Also include Bootstrap variables for consistency.
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Color Aliases
$light: map-get($theme-colors, "light");
$dark: map-get($theme-colors, "dark");

// Main :: Root
$root-xgap-screen-sm: 1rem;
$root-title-height: 4rem;
$root-title-color: $light;
$root-title-bg: $dark;

// Main :: Search
$search-input-border: $dark;
$search-record-even-bg: #f6f6f6;
$search-record-odd-bg: #e2e2e2;
$search-pager-item-size: 2rem;
$search-pager-color: $dark;
$search-pager-color-alt: $light;

// Main :: Record
$record-field-even-bg: #e2e2e2;
$record-field-odd-bg: #f6f6f6;
